#title{
  background-color: #ff4c68;
  color: white;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.navbar{
  padding:0 0 4.5rem;
}
.nav-link{
  font-family: 'Montserrat';
  font-size: 1.2rem;
}
.db{
  margin: 5% 3% 5% 0;
}
.img{
  width: 60%;
  transform: rotate(25deg);
}
.bc{

  color: #ef8172;

}
.bc:hover{
  color: #ff4c68;
}
.mt{
  text-align: center;

}
.fa{
  margin-bottom: 5px;
}
#features{
  padding: 15% 15%;
}
h3{
  font-weight: bold;
}
